@import 'styles';
.tag {
  padding: 6px 8px;
  margin-right: 6px;
  max-height: 26px;
  font-size: 12px;
  border-radius: 4px;
  width: fit-content;

  &.active {
    color: white;
    background-color: $dark-blue-primary;
  }

  &.inactive {
    color: #4c4c4c;
    border: solid 1px #b6b6b6;
    background-color: #d6d6d6;
  }
}
