@import 'styles';

.select {
  .input {
    caret-color: transparent;

    input {
      cursor: pointer;
    }
  }

  &.disabled {
    .input {
      input {
        cursor: not-allowed;
      }
    }
  }

  .icon-wrapper {
    padding-right: 24px;

    .icon {
      margin-right: 18px;
      bottom: 0;
      margin-bottom: 16px;
    }
  }

  .click-handler {
    height: 100%;
  }

  .dropdown {
    bottom: 0;
  }
}
